.weekly-menu__block,
.sample-menu {
	border: 1px solid grey;
	margin-bottom: 10px;
}
.weekly-menu__block-item {
	padding: 5px
	h4 {
		margin-top: 0px
	}
	h4,
	p {
		padding-left: 35%
	}
}
.weekly-menu__block-item-image-wrapper {
	width: 30%;
	margin-left: 5px;
	margin-top: 5px;
	overflow: hidden;
}
.weekly-menu__block-item:not(:last-child) {
	border-bottom: 1px solid grey;
}
.sample-menu {
	border: 1px solid grey;
	padding: 5px;
	img {
		width: 100%;
	}
	button {
		border: none;
		background: transparent;
		border-top: 1px solid grey;
	}
		
}